<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @internal_category.name %>
</p>

<%= link_to 'Edit', edit_internal_category_path(@internal_category) %> |
<%= link_to 'Back', internal_categories_path %>
