<% provide(:title, "About Backpacking Talk") %>
<% provide(:desc, "Find out all about Backpacking Talk, what makes it so awesome, and who the great and benevolent leader of Backpacking Talk is") %>

<h1>Statics#about</h1>
<p>Find me in app/views/statics/about.html.erb</p>
