<% provide(:title, "Contact Backpacking Talk") %>
<% provide(:desc, "Find out how you can contact Backpacking Talk with whatever query or suggestion you're hoping to get in front of us") %>

<h1>Statics#contact</h1>
<p>Find me in app/views/statics/contact.html.erb</p>
