<% provide(:title, "Search Reults for '#{params[:q].to_s}'") %>

<h1>Search Results for '<%= params[:q] %>'</h1>

<%= render partial: 'shared/group', collection: @groups %>

<%= will_paginate @groups, renderer: BootstrapPagination::Rails %>
