<% provide(:title, "Posts in the #{@section.titleize} Section") %>
<% provide(:desc, "Read all the posts in the #{@section.titleize} section on Backpacking Talk") %>
<% provide(:canonical, section_posts_url(@section)) %>

<h1><%= @section.titleize %> Section</h1>


<%= render partial: 'shared/group', collection: @groups %>


<%= will_paginate @groups, renderer: BootstrapPagination::Rails %>

