///////////////////////////////////////////
//                                       //
//     Variables / Mixins / Globals      //
//                                       //
///////////////////////////////////////////

$brown: #29261d;
$header-hover: #3f3c31;
$light-brown: #f4ebca;
$button_blue: #2583db;
$button_hover: #1a67ae;
$button_green: #25872B;
$light_green: #30ab39;
$sidebar_brown: #f8f1d8;
$newsletter_yellow: #f8f508;

a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  @extend .fonted;
}

h1 {
  font-size: 32px;
  line-height: 35px;
}

h2 a {
  @include transition(all .5s linear);
}

.h2-margin-left {
  margin-left: 20px;
}

.fonted {
  font-family: 'Exo', sans-serif;
}

label {
  font-weight: bold;
  color: #fff;
  background-color: $header-hover;
  padding: 5px 10px;
  display: inline-block;
}

input[type="text"], input[type="text"]:focus, textarea, textarea:focus, select {
  @include border-radius(0);
  @include box-shadow(0px 0px 0px white);
  border: 3px solid #000;
  height: 30px;
  font-size: 18px;
  line-height: 30px;
}

select {
  height: 36px;
}

input[type="checkbox"] {
  margin-top: 0;
}

.my-btn {
  @include transition(all .5s linear);
  @include border-radius(5px);
  color: #fff;
  background-color: $button_blue;
  border: 0;
  font-weight: bold;
  padding: 10px 15px;
  &:hover {
    background-color: $button_hover;
  }
}

.my-warning-btn {
  @extend .my-btn;
  background-color: #FF0700;
  &:hover {
    background-color: #A60400;
  }
}

.well {
  @include border-radius(0);
  @include box-shadow(0px 0px 0px white);
  border-width: 3px;
}

.meta-well {
  @extend .well;
  padding: 5px 5px 1px 5px;
  font-size: 13px;
  line-height: 15px;
  margin-bottom: 10px;
}

.pagination {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  ul > li > a, ul > li > span {
    @include border-radius(0);
    border: 3px solid #000;
    border-left-width: 0px;
    @extend .my-btn;
  }
  ul > li.disabled a:hover, ul > li.active a:hover, ul > li.disabled span:hover, ul > li.active span:hover {
    background-color: #fff;
  }
  ul > li:first-child > a, ul > li:first-child > span {
    @include border-top-left-radius(0);
    @include border-bottom-left-radius(0);
    border-left-width: 3px;
  }
  ul > li:last-child > a, ul > li:last-child > span {
    @include border-top-right-radius(0);
    @include border-bottom-right-radius(0);
  }
}

.group-row {
  margin-bottom: 50px;
  .result-post {
    width: 280px;
    display: inline-block;
    vertical-align: top;
    .result-pic {
      width: 280px;
      max-height: 100px;
      overflow: hidden;
      img {
        @include transition(all .5s linear);
        margin-top: -10%;
        opacity: .8;
        &:hover {
          opacity: 1;
        }
      }
    }
    h2 {
      margin: 5px 0 0 0;
      .result-title {
        display: block;
        font-size: 20px;
        line-height: 26px;
        font-weight: bold;
      }
    }
    .result-section {
      display: block;
      color: #333;
      font-size: 18px;
      line-height: 28px;
    }
    .result-date {
      display: block;
      color: #999;
      font-size: 13px;
    }
    .result-category {
      font-size: 13px;
    }
  }
  .result-post-margin {
    margin-right: 16px;
  }
}

.alert {
  margin-bottom: 1px;
}

///////////////////////////////////////////
//                                       //
//                 Basics                //
//                                       //
///////////////////////////////////////////

body {
  padding-top: 46px;
  background-color: $light-brown;
}

#main-container {
  background-color: $sidebar_brown;
  margin-top: -60px;
  .main-content {
    background-color: #fff;
    min-height: 1000px;
    .yield-content {
      padding: 0 20px 20px;
    }
  }
}


///////////////////////////////////////////
//                                       //
//                  Home                 //
//                                       //
///////////////////////////////////////////

.read-more-link {
  margin-left: 30px;
  &:hover {
    color: #fff;
  }
}

///////////////////////////////////////////
//                                       //
//                 Header                //
//                                       //
///////////////////////////////////////////

.navbar {
  .navbar-inner {
    background-color: $brown;
    background-image: none;
    border-bottom: 1px solid $light-brown;
    .header-meta > li:last-child {
      border-left: 1px solid $light-brown;
    }
    .nav {
      .dropdown-menu {
        @include border-radius(0px);
        @include box-shadow(0px 0px 0px white);
        border: 3px solid #000;
        padding: 0;
        li a {
          padding: 5px 20px;
          font-size: 16px;
          &:hover {
            background-color: $header-hover;
            background-image: none;
          }
        }
      }
      .section-dropdown {
        .standard-li {
          a {
            padding: 0 10px 0 0;
            margin-bottom: 10px;
            white-space: normal;
            width: 320px;
            height: 75px;
            opacity: .8;
            @include transition(all .5s linear);
            &:hover {
              background-color: #fff;
              opacity: 1;
            }
            .tab-post-pic {
              width: 75px;
              height: 75px;
              float: left;
              margin-right: 10px;
            }
            .tab-post-title {
              font-size: 18px;
              line-height: 22px;
              color: $brown;
              font-weight: bold;
              display: block;
              padding: 5px 0 0 0;
            }
            .tab-post-date {
              color: #999;
              font-size: 12px;
              line-height: 13px;
            }
          }
        }
        .section-read-more a {
          @include transition(all .5s linear);
          background-color: $brown;
          color: #fff;
          display: block;
          text-align: center;
          &:hover {
            background-color: $header-hover;
          }
        }
      }
    }
  }
  .nav > li > .dropdown-menu::before, .nav > li > .dropdown-menu::after {
    content: '';
    border: 0;
  }
  .nav li a.dropdown-toggle, .nav li.dropdown.open a.dropdown-toggle {
    font-size: 16px;
    color: #fff;
    height: 26px;
    &:hover {
      color: #fff;
    }
  }
  .nav li.dropdown > .dropdown-toggle:hover, .nav li.dropdown.open > .dropdown-toggle, .nav li.dropdown.active > .dropdown-toggle, .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: $header-hover;
  }
  .nav li.dropdown > .dropdown-toggle:hover {
    @include transition(all .5s linear);
  }
  .nav .dropdown-toggle .caret {
    margin-top: 11px;
  }
  .nav li.dropdown > .dropdown-toggle .caret, .nav li.dropdown > .dropdown-toggle:hover .caret, .nav li.dropdown.open > .dropdown-toggle .caret, .nav li.dropdown.active > .dropdown-toggle .caret, .nav li.dropdown.open.active > .dropdown-toggle .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
  }
  .search-dropdown {
    width: 318px;
    .search-form {
      margin: 0px;
      input {
        @include border-radius(0);
        @include box-shadow(0px 0px 0px white);
        border: 0px solid white;
        font-size: 18px;
        display: inline-block;
        height: 30px;
      }
      .search-submit {
        background-color: $button_blue;
        color: #fff;
        padding: 4px;
        border-left: 3px solid #000;
        height: 38px;
        width: 80px;
        &:hover {
          background-color: $button_hover;
          @include transition(all .5s linear);
        }
      }
    }
  }
}

///////////////////////////////////////////
//                                       //
//              Newsletter               //
//                                       //
///////////////////////////////////////////

.newsletter {
  background-color: $newsletter_yellow;
  padding: 0 10px;
  text-align: center;
  .newsletter-prompt {
    @extend .fonted;
    color: #000;
    font-size: 22px;
    margin-bottom: 0;
    height: 60px;
    line-height: 60px;
  }
  .newsletter-click {
    .newsletter-arrow {
      margin-left: 10px;
    }
    &:hover {
      cursor: pointer;
    }
  }
  .newsletter-content {
    background-color: $newsletter_yellow;
    height: 53px;
    margin: 0 -10px 10px -10px;
    .newsletter-form {
      margin-bottom: 0;
      input {
        height: 28px;
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 0px;
        border: 3px solid #000;
        @include border-radius(0px);
        @include box-shadow(0px 0px 0px white);
      }
      .newsletter-inputs {
        display: inline-block;
        #email_address {
          width: 200px;
        }
        #first_name, #last_name {
          width: 110px;
        }
      }
      .newsletter-submit {
        @include transition(all .5s linear);
        background-color: $button_blue;
        color: #fff;
        font-weight: bold;
        padding: 4px 10px;
        height: 42px;
        &:hover {
          background-color: $button_hover;
        }
      }
    }
  }
  .newsletter-expand {
    display: none;
  }
}

///////////////////////////////////////////
//                                       //
//                 Sidebar               //
//                                       //
///////////////////////////////////////////


.sidebar {
  height: 1000px;
  margin-left: -20px;
  .sidebar-nav-tabs { //ul
    width: 100%;
    border-bottom: 0;
    margin-bottom: 10px;
    .popular-tab {
      width: 97px;
    }
    .all-time-tab {
      width: 92px;
    }
    .gear-tab {
      width: 131px;
    }
    li a {
      background-color: $button_green;
      font-size: 12px;
      color: white;
      text-align: center;
      padding: 6px 0 2px;
      margin-right: 0px;
      height: 52px;
      border: 0;
      @include border-radius(0px);
      p {
        margin: 6px 0 0;
      }
      &:hover {
        background-color: $light_green;
        border: 0;
        @include transition(all .5s linear);
      }
    }
    li.active a {
      background-color: $light_green;
      &:hover {
        color: #fff;
      }
    }
  }
  .sidebar-tab-ul {
    list-style: none;
    margin: 0;
    li {
      background-color: #fff;
      margin-bottom: 10px;
      a {
        @include transition(all .5s linear);
        filter:alpha(opacity=80);
        opacity: .8;
        display: block;
        padding-right: 10px;
        height: 75px;
        .tab-post-title {
          font-size: 18px;
          font-weight: bold;
          line-height: 22px;
          display: block;
          padding: 5px 0 0 0;
        }
        .tab-post-date {
          font-size: 12px;
          line-height: 13px;
          color: #999;
        }
        .tab-post-pic {
          margin-right: 10px;
          float: left;
        }
        &:hover {
          filter:alpha(opacity=100);
          opacity: 1;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .dotd-list {
    @extend .sidebar-tab-ul;
    li {
      a {
        position: relative;
        .deal-title {
          @extend .tab-post-title;
          font-size: 16px;
          line-height: 20px;
          color: #333;
        }
        .product-pic {
          @extend .tab-post-pic;
          position: relative;
          top: 0;
          left: 0;
          height: 65px;
          width: 65px;
          padding: 5px;
        }
        .favicon {
          filter:alpha(opacity=60);
          opacity: .6;
          position: absolute;
          top: 0;
          left: 0;
        }
        .deal-meta {
          display: inline-block;
          .deal-retail-price {
            color: #999;
            font-size: 11px;
            line-height: 14px;
            display: block;
          }
          .deal-percent-off {
            @extend .deal-retail-price;
            color: red;
          }
        }
        .deal-sale-price {
          font-size: 28px;
          font-weight: bold;
        }
      }
    }
  }
  .post-tags { //UL
    list-style: none;
    margin: 0;
    li a {
      font-size: 16px;
      font-weight: bold;
      display: block;
      padding: 8px 16px;
    }
    li a.odd {
      background-color: #fff;
    }
  }
}

///////////////////////////////////////////
//                                       //
//                  Logo                 //
//                                       //
///////////////////////////////////////////

#logo-container {
  background-color: $header-hover;
  .logo {
    height: 90px;
    padding: 10px 0 70px 0;
    h1 {
      margin-top: 0;
    }
  }
  .logo-ad a img {
    margin-top: 25px;
  }
}

///////////////////////////////////////////
//                                       //
//                Post#Show              //
//                                       //
///////////////////////////////////////////

.post-meta-unit {
  margin-right: 10px;
}

.post-header-pic {
  width: 580px;
  max-height: 200px;
  overflow: hidden;
  margin-bottom: 10px;
  img {
    margin-top: -10%;
  }
}

.post-citations {
  @extend .meta-well;
  border-width: 1px;
  font-size: 11px;
  line-height: 13px;
  .citation-link {
    height: 20px;
    width: 570px;
    p {
      float: left;
      margin: 1px 0 0;
      opacity: .4;
    }
    i {
      float: right;
      opacity: .4;
      margin-top: 0;
    }
    &:hover {
      cursor: pointer;
    }
  }
  .citation-dropdown {
    display: none;
    clear: both;
    ul {
      margin-bottom: 0;
    }
  }
}

.post-review-stars {
  text-align: center;
  margin-bottom: 10px;
}

.post-content {
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 20px;
  .review-ad {
    text-align: center;
    padding: 10px 0 20px 0;
    a {
      padding: 10px 20px;
      @include border-radius(5px);
      background-color: #dedede;
      &:hover {
        background-color: #cacaca;
        @include transition(all .5s linear);
      }
      .review-ad-name {
        font-size: 15px;
        font-weight: bold;
        color: #333;
        padding: 0 5px;
      }
      .review-ad-merch {
        font-size: 13px;
        color: #666;
      }
      .review-ad-price {
        font-size: 15px;
        font-weight: bold;
      }
      .review-ad-sale {
        color: red;
      }
    }
  }
}

.bottom-of-post {
  margin: 0 -20px;
  .related-div {
    width: 146px;
    display: inline-block;
    vertical-align: top;
    background-color: #fff;
    margin-right: 8px;
    a {
      @include transition(all .5s linear);
      opacity: .8;
      filter:alpha(opacity=80);
      display: block;
      .related-post-pic {
        height: 146px;
        width: 146px;
      }
      .related-post-title {
        font-weight: bold;
        display: block;
        padding: 5px;
        font-size: 12px;
        line-height: 15px;
      }
      &:hover {
        opacity: 1;
        filter:alpha(opacity=100);
      }
    }
  }
  .last-related-pic {
    margin-right: 0px;
  }
}

.social-arrow {
  position: fixed;
  top: 65px;
  left: -4px;
  background-color: white;
  padding: 7px;
  border: 3px solid #333;
  z-index: 1;
  &:hover {
    cursor: pointer;
  }
  img {
    opacity: .8;
  }
}


.social-bar {
  position: fixed;
  top: 160px;
  width: 56px;
  text-align: center;
  background-color: white;
  padding: 5px;
  border: 3px solid #333;
  z-index: 1;
  .social-button {
    display: block;
    margin-top: 5px;
    .fb-like {
      text-align: center;
    }
  }
}

.social-fixed-left { // toggled on via jQuery
  left: -4px;
  display: block;
}

.social-floating-left { // toggled on via jQuery
  display: block;
}

.comments {
  margin: 0 20px;
}

///////////////////////////////////////////
//                                       //
//                Post#Form              //
//                                       //
///////////////////////////////////////////

#post_title, #post_flickr_url, #post_picture_alt_text, #post_meta_description, .field-block > .field > input {
  width: 520px;
}

#post_content {
  @extend #post_title;
  height: 400px;
  font-size: 15px;
  line-height: 20px;
}

.add-citation-btn {
  display: inline-block;
  margin-top: 10px;
  a {
    @extend .my-btn;
  }
}

.remove-citation-btn a {
  @extend .my-warning-btn;
  font-size: 11px;
  padding: 4px 8px;
}

///////////////////////////////////////////
//                                       //
//           GearGuide#Form              //
//                                       //
///////////////////////////////////////////

#gear_guide_title, #gear_guide_meta_description {
  width: 520px;
}

///////////////////////////////////////////
//                                       //
//           GearGuide#Show              //
//                                       //
///////////////////////////////////////////

.gear-guide-h1:before {
  content: 'Gear Guide :: ';
  color: $button_green;
}

.gear-guide-content {
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 20px;
  img {
    border: 3px solid #e3e3e3;
    padding: 4px;
  }
  ul, ol {
    li {
      padding: 2px 0;
    }
  }
  .no-border {
    border: 0;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .gear-guide-img {
    margin: 0 0 10px 10px;
  }
  a[name] {
    padding-top: 80px;
    margin-top: -80px;
    display: inline-block; /* required for webkit browsers */
  }
}
