<% provide(:title, @category.name) %>
<% provide(:desc, "Look through the #{@category.tagged_posts} posts in the #{@category.name} here on Backpacking Talk") %>

<h1><%= @category.name %> Category</h1>

<%= render partial: 'shared/group', collection: @groups %>


<%= will_paginate @groups, renderer: BootstrapPagination::Rails %>
